// 隐藏全部头部导航
.van-nav-bar {
  display: none;
}

.care {
  .van-dialog {
    * {
      font-size: 18px !important;
    }
    .van-dialog__header {
      font-size: 22px !important;
    }
  }

  .custom-loading,
  .bottom-tips {
    font-size: 18px !important;
  }

  // .van-loading__circular {
  //   width: 30px;
  //   height: 30px;
  // }
  .van-loading__text {
    font-size: 18px !important;
  }
}
